body {
  background: #F4F5F7;
}

#root {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column
}

.container {
  width: 95%;
  margin: auto;
}

.vertical {
  align-items: center;
  position: relative;
}

.cart-img {
  align-self: center;
  position: relative;
  margin-left: auto;
  cursor: pointer;
}

.header h2 {
  font-size: 2em;
}

.Modal {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  background-color: white;
  border-radius: 4px;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
}

.cart-title {
  margin-left: 3%;
}

.out-stock p {
  padding: 0;
  margin: 0;
  color: gray;
  font-size: 1.5em;
  padding-bottom: 1%;
  text-align: center;
}

.out-stock img {
  width: 35%;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.out-stock {
  align-content: center;
  justify-content: center;
  height: 100%;
  position: relative;
  top: -5%;
}

.cart {
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.cart-close {
  margin-left: auto;
  margin-right: 3%;
  cursor: pointer;
  color: grey;
  font-size: 1.5em;
}

.totals {
  width: 100%;
  position: relative;
  left: 4%;
}

.cart-item-des .product-item-title {
  margin-bottom: 0;
}

.cart-item-image {
  margin-right: 3%;
}

.cart-item-image img {
  width: 300px;
}

.cart-item-content {
  height: 100%;
  width: 57%;
  position: relative;
  left: 4%;
}

.hundo {
  width: 100%;
}

.cart-update {
  align-items: center;
  justify-content: center;
  position: relative;
  left: 38%;
}

.cart-item-inventory {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.cart-remove {
  font-size: 2em;
  border-radius: 90px 0 0 90px;
  background: #5E97D1;
  width: 45px;
}

.cart-add {
  font-size: 2em;
  border-radius: 0 90px 90px 0;
  background: #5E97D1;
  width: 45px;
}

.cart-delete {
  font-size: 1.5em;
  color: Red;
  cursor: pointer;
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .Modal {
    left: 10%;
    right: 10%;
  }
}

/* phones */

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  /* Styles */
  .Modal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .cart-item-image {
    width: 375px;
  }
  .cart-item-content .flex {
    flex-wrap: wrap;
  }
}